p {
    font-weight: 500;
    font-size: 25px;

}
.league-button {

    font-weight: 500;
    font-size: 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 221, 248);;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    
}

.login-button {
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 179, 226);;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.top-row {
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* columns: 1fr 1fr 1fr; */
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;

    column-gap: 10px;
    row-gap: 10px;
}

.roster {
    width: 200px;
}

.roster-title {
    font-size: 15px;
    text-align: center;
    
    
}
.roster-grid, .player-grid {
    display: grid;
    grid-template-columns: 200px 150px 150px;
    /* width: 200px; */
    /* column-gap: 1px;
    row-gap: 1px; */


}
.roster-item {
    background-color: white;

}

